.mainBg {
    background-image: url('../public/images/Waves.svg');
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding: 60px 0;
    background-color: #2A0F57;
  }
  
.banner {
  background-image: url('../public/images/homePage_peopleStrip-2.jpg');
    background-size: cover;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #2A0F57;
}

.compromise {
  background-image: url("https://images.contentstack.io/v3/assets/bltc5a09bf374882538/blte0288e190676ee6b/606ede15e5ac4c2c44b76e28/CustomerSuccess_SVG.svg");
  background-size:cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #2A0F57;
  padding: 60px 0;
}